<!DOCTYPE html>
<html lang="en">

<head>
	<title>Dundee URC</title>
	<script src="fragment.js"></script>
	<div data-fragment="head-frag.html"></div>

	<!--START carousel-->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
	<script src="dist/js/bootstrap.min.js"></script>
	<!--END carousel-->

</head>

<body>
	<div data-fragment="nav-bar-frag.html"></div>
	
	<div class="well"><h4>Community: The congregation are conneted with:-</h4></div>
	
	<div class="list-group">
		<a class="list-group-item">
			<h4 class="list-group-item-heading">Justicia</h4>
			<p class="list-group-item-text">a fair trade shop in Bolton who supply us with goods to sell from our monthly Pop-Up shop after our Sunday Morning service. At Christmas we take our shop to the Christmas Fayre at Greenmount. It is not a fund raising effort but aimed at helping the shop to keep going and raise awareness.  One of our members is on the Board of Justicia.
</p>
		</a>
		<a class="list-group-item">
			<h4 class="list-group-item-heading">Churches Together in Ramsbottom</h4>
			<p class="list-group-item-text">We have  representation on the organising Committee and members of the congregation participate in the events during the year see the CTR website.</p>
		</a>

		<a class="list-group-item">
			<h4 class="list-group-item-heading">Greenmount URC</h4>
			<p class="list-group-item-text">This is the larger church in our Pastorate and  we are invited to their events and special services. They are happy for us to join in with their choir on occasions and they come to join with us on occasions too.</p>
		</a>

		<a class="list-group-item">
			<h4 class="list-group-item-heading">North Western Synod</h4>
			<p class="list-group-item-text">As part of the United Reformed Church we keep in touch with what is going on at Synod and representatives attend the meetings.</p>
		</a>
		<a class="list-group-item">
			<h4 class="list-group-item-heading">The National Porch Scheme</h4>
			<p class="list-group-item-text">This is run by a group of Bury and Radcliffe churches and we participate by donating food and groceries that are needed to be distributed to people facing a financial crisis in our North Manchester area.</p>
		</a>

	<a class="list-group-item">
			<h4 class="list-group-item-heading">St. Paul’s C.E. Salford</h4>
			<p class="list-group-item-text">This is an area of deprivation where the Priest-in-charge Fr. Wyatt works very hard to meet the physical and spiritual needs of his parish we contribute toys at Christmas and other items when called upon through out the year.
</p>
		</a>
	</div>
	
</body>

</html>