<!DOCTYPE html>
<html lang="en">

<head>
	<% include head-frag %>
    <meta name="description" content="Contact Dundee DURC">
</head>

<body>
	<!-- insert the navbar -->
	<% include nav-bar-frag %>

	<div class="container">

		<div class="starter-template">
			<h1>Thanks...</h1>
			<p class="lead">...for the contact, we'll get back to you soon.
		</div>

	</div>
	<!-- /.container -->
	<% include bootstrap-frag %>

</body>

</html>