
<!DOCTYPE html>
<html lang="en">
	<head>
		<% include head-frag %>
	</head>
	<body>
		<div class="container">
			<form id="contact" class="form-horizontal" method="post">
				<fieldset>
					<legend class="text-center header">Make your changes here then press Save</legend>
					<% include edit-head-content-frag %>
					<% include edit-image-frag %>
					<% include edit-submit-frag %>
				</fieldset>
			</form>
		</div>
	</body>
	<% include bootstrap-frag %>
</html>