<div class="form-group">
	<div class="col-lg-6">
		<input id="heading" name="heading" type="text" value="<%=content.heading%>" class="form-control">
	</div>
</div>
<div class="form-group">
	<div class="col-lg-10">
		<textarea class="form-control" name="content" id="content" rows="6"><%=content.content%></textarea>
	</div>
</div>