<!DOCTYPE html>
<html lang="en">

<head>
	<title>Dundee URC</title>
	<% include head-frag %>
</head>

<body>
	<div class="container">
		<form id="contact" class="form-horizontal" method="post">
			<fieldset>
				<legend class="text-center header">Make your changes here then press Save</legend>
				<div class="form-group">
					<div class="col-lg-6">
						<input id="heading" name="heading" type="text" value="<%=content.heading%>" class="form-control">
					</div>
				</div>
				<div class="form-group">
					<div class="col-lg-10">
						<textarea class="form-control" name="content" id="content" rows="6"><%=content.content%></textarea>
					</div>
				</div>
				
				<% if (content.type == 'home') { %>	
					<!-- The current image -->
					<div class="row">
						<div class="col-xs-6 col-sm-3">
							<a href="/select-image" class="thumbnail">
								<img src="<%=content.image%>" alt="">
							</a>
						</div>
					</div>
					

				<% } %>
				
				<div class="form-group">
					<div class="col-lg-2">
						<button type="submit" class="btn btn-primary btn-lg">Save</button>
					</div>
				</div>
				<input class="hidden" id="type" name="type" type="text" value="<%=content.type%>" class="form-control">
				</div>

			</fieldset>
		</form>
	</div>


</body>


<% include bootstrap-frag %>



</html>