<!DOCTYPE html>
<html lang="en">

<head>
	<title>Dundee URC</title>
	<script src="fragment.js"></script>
	<div data-fragment="head-frag.html"></div>

	<!--START carousel-->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
	<script src="dist/js/bootstrap.min.js"></script>
	<!--END carousel-->

</head>

<body>
	<div data-fragment="nav-bar-frag.html"></div>
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="well">
					<h5>Events: Here's what we have going on at Dundee United, if you want to know more use our contact page</h5>
				</div>

				<div class="list-group">
					<a class="list-group-item">
						<h4 class="list-group-item-heading">Sunday Service</h4>
						<p class="list-group-item-text">Our Minister takes this service on alternate weeks and a member of the Pastorate Preaching Team will take the intervening weeks. Three or Four times a year we have a Café Style (ACE- A Café Experience) Service which is popular with most people, particularly the Uniformed organisations. At Christmas we have a tradition of Brownies and Rainbows presenting the Nativity Story for us and we hold a Carols by Candlelight Service with refreshments to follow.( see Digest for Preacher/Communion/Parades etc.)</p>
					</a>
					<a class="list-group-item">
						<h4 class="list-group-item-heading">Junior Church</h4>
						<p class="list-group-item-text">This is held each Sunday morning by a team of workers who run a programme for all ages to bring the word of Jesus to our children.</p>
					</a>

					<a class="list-group-item">
						<h4 class="list-group-item-heading">Bible Study</h4>
						<p class="list-group-item-text">This is a joint meeting and held at Greenmount, twice a month on a Tuesday evening for more details contact Rev.</p>
					</a>

					<a class="list-group-item">
						<h4 class="list-group-item-heading">Ladies Coffee, Chat and Communion (CCC)</h4>
						<p class="list-group-item-text">Wednesday 7.30 pm, every six weeks or so. A lovely group of ladies, who come together for Fun and Friendship. A topic is chosen for the chat and members are encouraged to bring along a story and things associated with the topic, it is a jolly affair!</p>
					</a>
					<a class="list-group-item">
						<h4 class="list-group-item-heading">Guides</h4>
						<p class="list-group-item-text">Thursday 7.30 – 9.15 pm for girls age 10 – 15 years. More badge work and trips, craft and camping this year there is the chance to go to Switzerland and they are going to a pop concert.</p>
					</a>

					<a class="list-group-item">
						<h4 class="list-group-item-heading">Brownies</h4>
						<p class="list-group-item-text">Tuesday 6.30 – 8.0pm for girls aged 7 – 10 years. They do badge work (wild life, entertainer, craft, knots, music maker etc.) play games, craft work, Brownie pack holiday, cooking, swimming, trips. As with Rainbows, a chance to make new friends and have fun. </p>
					</a>

					<a class="list-group-item">
						<h4 class="list-group-item-heading">Rainbows</h4>
						<p class="list-group-item-text">Tuesday 6.00 - 7.00pm for girls aged 5 – 7 years. They play games, do Craft work, singing and generally have fun, a good opportunity to make new friends and socialise.</p>
					</a>
					<a class="list-group-item">
						<h4 class="list-group-item-heading">Book Club</h4>
						<p class="list-group-item-text"> 3rd Thursday of the month 7.30 pm</p>
					</a>

				</div>
			</div>
		</div>
	</div>

</body>

</html>