<!DOCTYPE html>
<html lang="en">

<head>
	<title>Dundee URC</title>
	<script src="fragment.js"></script>
	<div data-fragment="head-frag.html"></div>
</head>

<body>
	<!-- insert the navbar -->
	<div data-fragment="nav-bar-frag.html"></div>


	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="well">
					<h5>Vision: Here's our vision for the future...</h5>
				</div>
				<div class="container-fluid col-sm-offset-1">

					<ul class="media-list">
						<li class="media">
							<div class="media-left">
								<span class="glyphicon glyphicon-play-circle" aria-hidden="true"></span>
							</div>
							<div class="media-body">
								<h4 class="media-heading">Service</h4>Creation of a new, less structured, service three or four times a year, half waybetween ACE (Alternative Café Experience) and our normal service. Organised by a new team.
							</div>
						</li>
						<li class="media">
							<div class="media-left">
								<span class="glyphicon glyphicon-play-circle" aria-hidden="true"></span>
							</div>
							<div class="media-body">
								<h4 class="media-heading">Seating</h4>A change in the arrangement of the chairs.
							</div>
						</li>
						<li class="media">
							<div class="media-left">
								<span class="glyphicon glyphicon-play-circle" aria-hidden="true"></span>
							</div>
							<div class="media-body">
								<h4 class="media-heading">Coffee Mornings</h4>To be held throughout the year supporting local charities.
							</div>
						</li>
						<li class="media">
							<div class="media-left">
								<span class="glyphicon glyphicon-play-circle" aria-hidden="true"></span>
							</div>
							<div class="media-body">
								<h4 class="media-heading">Afternoon Demonstrations</h4>To be held throughout the year supporting local charities.
							</div>
						</li>
						<li class="media">
							<div class="media-left">
								<span class="glyphicon glyphicon-play-circle" aria-hidden="true"></span>
							</div>
							<div class="media-body">
								<h4 class="media-heading">The Digital Era</h4>Build our very own 'Web Presence'
							</div>
						</li>
						</li>
						<li class="media">
							<div class="media-left">
								<span class="glyphicon glyphicon-play-circle" aria-hidden="true"></span>
							</div>
							<div class="media-body">
								<h4 class="media-heading">Roof Repairs</h4>To Renew and make all repairs necessary to ensure that the roof is fully weather tight. This was completed and we have no problems now.
							</div>
						</li>
						<li class="media">
							<div class="media-left">
								<span class="glyphicon glyphicon-play-circle" aria-hidden="true"></span>
							</div>
							<div class="media-body">
								<h4 class="media-heading">More Space</h4>Build a part window partition at the back of the church creating an Anti-room with doors into the main body of the church therefore acting as an overflow or as a separate room. This could then be a gathering room and with access to the kitchen could be a coffee lounge area.
							</div>
						</li>
						<li class="media">
							<div class="media-left">
								<span class="glyphicon glyphicon-play-circle" aria-hidden="true"></span>
							</div>
							<div class="media-body">
								<h4 class="media-heading">Stage</h4>Reduce the size of the stage
							</div>
						</li>
						</li>
						<li class="media">
							<div class="media-left">
								<span class="glyphicon glyphicon-play-circle" aria-hidden="true"></span>
							</div>
							<div class="media-body">
								<h4 class="media-heading">Kitchen Refurb</h4>Redecorate the kitchen and make a doorway through to the Toilet Area and Side Rooms.
							</div>
						</li>
						<li class="media">
							<div class="media-left">
								<span class="glyphicon glyphicon-play-circle" aria-hidden="true"></span>
							</div>
							<div class="media-body">
								<h4 class="media-heading">Wheelchair Access</h4>Design a new sloping path across the garden entering from the top end of Dundee Lane. Still retaining the existing pathway.
							</div>
						</li>
						<li class="media">
							<div class="media-left">
								<span class="glyphicon glyphicon-play-circle" aria-hidden="true"></span>
							</div>
							<div class="media-body">
								<h4 class="media-heading">Renewable Energy</h4>Build a solar farm to generate income!
							</div>
						</li>
					</ul>

				</div>
			</div>
		</div>
	</div>


	<!-- Bootstrap core JavaScript
        ================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
	<script src="dist/js/bootstrap.min.js"></script>

	<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
	<script src="assets/js/ie10-viewport-bug-workaround.js"></script>
</body>

</html>